
html{
   background-color: hsl(225, 100%, 94%);
   font-family: 'Red Hat Display', sans-serif;;
}
.bg{
    display: flex;
    position: absolute;
    background-size: cover;
}
.container{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: 620px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
    
}
.image1{
    width: 620px;
    border-radius: 20px 20px 0 0;
}

.container h2{
    text-align: center;
    color: hsl(223, 47%, 23%)  ;
    font-weight: 900;
    

}
.p1{
    text-align: center;
    opacity: 0.6;
    
}
.p2 {
    float:left;
    margin-left: 65px;
    
    
    
}
.p22{
    opacity: 0.7;
}
.image2{
    height:75px;
    width: 75px;
    float: left;
    padding:2px;
    border-radius :150px;
    background-color: black;
    margin-top: 8px;
    margin-left: 5px;

}
.p4{
   margin-right: 7px;
    float: right;
    text-decoration: none;
}

.container2{
    height:100px;
    padding: 2px;
    width:380px;
    margin-left: 30px;
    background-color: hsl(225, 100%, 94%);
    border-radius: 20px;
    margin-left:auto;
    margin-right: auto;
}
.btn-container{
   text-align: center;
   margin:5px 0;
}
.btn{
    width:380px;
    margin: 5px 0;
    color:hsl(225, 100%, 94%);
   padding:10px;
   border-radius: 20px;
   background-color: hsl(245, 75%, 52%);
   font-weight: 900;
}
.btn:hover{
    width: 450px;
    transition: width 1s  ease-in-out;
}